@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --www-lorespresso-com-avenir-next-regular-font-family: "Avenir Next",
    Helvetica;
  --www-lorespresso-com-avenir-next-regular-font-size: 18px;
  --www-lorespresso-com-avenir-next-regular-font-style: normal;
  --www-lorespresso-com-avenir-next-regular-font-weight: 400;
  --www-lorespresso-com-avenir-next-regular-letter-spacing: -0.7200000286102295px;
  --www-lorespresso-com-avenir-next-regular-line-height: 24px;
  --www-lorespresso-com-avenir-next-regular-strikethrough-font-family: "Avenir Next",
    Helvetica;
  --www-lorespresso-com-avenir-next-regular-strikethrough-font-size: 18px;
  --www-lorespresso-com-avenir-next-regular-strikethrough-font-style: normal;
  --www-lorespresso-com-avenir-next-regular-strikethrough-font-weight: 400;
  --www-lorespresso-com-avenir-next-regular-strikethrough-letter-spacing: 0px;
  --www-lorespresso-com-avenir-next-regular-strikethrough-line-height: 32px;
  --www-lorespresso-com-semantic-button-font-family: "Avenir Next", Helvetica;
  --www-lorespresso-com-semantic-button-font-size: 12px;
  --www-lorespresso-com-semantic-button-font-style: normal;
  --www-lorespresso-com-semantic-button-font-weight: 400;
  --www-lorespresso-com-semantic-button-letter-spacing: 0px;
  --www-lorespresso-com-semantic-button-line-height: 11.399999618530273px;
  --www-lorespresso-com-semantic-emphasis-font-family: "Avenir Next", Helvetica;
  --www-lorespresso-com-semantic-emphasis-font-size: 16px;
  --www-lorespresso-com-semantic-emphasis-font-style: italic;
  --www-lorespresso-com-semantic-emphasis-font-weight: 400;
  --www-lorespresso-com-semantic-emphasis-letter-spacing: 0px;
  --www-lorespresso-com-semantic-emphasis-line-height: 24px;
  --www-lorespresso-com-semantic-heading-1-font-family: "Montserrat", Helvetica;
  --www-lorespresso-com-semantic-heading-1-font-size: 56px;
  --www-lorespresso-com-semantic-heading-1-font-style: normal;
  --www-lorespresso-com-semantic-heading-1-font-weight: 600;
  --www-lorespresso-com-semantic-heading-1-letter-spacing: 5.599999904632568px;
  --www-lorespresso-com-semantic-heading-1-line-height: 70px;
  --www-lorespresso-com-semantic-heading-3-font-family: "Avenir Next", Helvetica;
  --www-lorespresso-com-semantic-heading-3-font-size: 16px;
  --www-lorespresso-com-semantic-heading-3-font-style: normal;
  --www-lorespresso-com-semantic-heading-3-font-weight: 400;
  --www-lorespresso-com-semantic-heading-3-letter-spacing: -0.6399999856948853px;
  --www-lorespresso-com-semantic-heading-3-line-height: 27.200000762939453px;
  --www-lorespresso-com-semantic-heading-4-font-family: "Avenir Next", Helvetica;
  --www-lorespresso-com-semantic-heading-4-font-size: 24px;
  --www-lorespresso-com-semantic-heading-4-font-style: normal;
  --www-lorespresso-com-semantic-heading-4-font-weight: 400;
  --www-lorespresso-com-semantic-heading-4-letter-spacing: -0.9599999785423279px;
  --www-lorespresso-com-semantic-heading-4-line-height: 32px;
  --www-lorespresso-com-semantic-input-font-family: "Avenir Next", Helvetica;
  --www-lorespresso-com-semantic-input-font-size: 16px;
  --www-lorespresso-com-semantic-input-font-style: normal;
  --www-lorespresso-com-semantic-input-font-weight: 400;
  --www-lorespresso-com-semantic-input-letter-spacing: 0px;
  --www-lorespresso-com-semantic-input-line-height: normal;
  --www-lorespresso-com-semantic-item-font-family: "Avenir Next", Helvetica;
  --www-lorespresso-com-semantic-item-font-size: 14px;
  --www-lorespresso-com-semantic-item-font-style: normal;
  --www-lorespresso-com-semantic-item-font-weight: 400;
  --www-lorespresso-com-semantic-item-letter-spacing: 0px;
  --www-lorespresso-com-semantic-item-line-height: 16px;
  --www-lorespresso-com-semantic-link-font-family: "Avenir Next", Helvetica;
  --www-lorespresso-com-semantic-link-font-size: 12px;
  --www-lorespresso-com-semantic-link-font-style: normal;
  --www-lorespresso-com-semantic-link-font-weight: 400;
  --www-lorespresso-com-semantic-link-letter-spacing: 0px;
  --www-lorespresso-com-semantic-link-line-height: 12px;
  --www-lorespresso-com-semantic-link-underline-font-family: "Avenir Next",
    Helvetica;
  --www-lorespresso-com-semantic-link-underline-font-size: 16px;
  --www-lorespresso-com-semantic-link-underline-font-style: normal;
  --www-lorespresso-com-semantic-link-underline-font-weight: 400;
  --www-lorespresso-com-semantic-link-underline-letter-spacing: 0px;
  --www-lorespresso-com-semantic-link-underline-line-height: 24px;
  --wwwlorespressocomalto: rgba(214, 214, 214, 1);
  --wwwlorespressocombay-of-many: rgba(37, 59, 128, 1);
  --wwwlorespressocomblack: rgba(0, 0, 0, 1);
  --wwwlorespressocomblaze-orange: rgba(255, 95, 0, 1);
  --wwwlorespressocomcod-gray: rgba(30, 30, 30, 1);
  --wwwlorespressocomcurious-blue: rgba(23, 155, 215, 1);
  --wwwlorespressocomdove-gray: rgba(112, 112, 112, 1);
  --wwwlorespressocomdusty-gray: rgba(150, 150, 150, 1);
  --wwwlorespressocommine-shaft: rgba(60, 60, 60, 1);
  --wwwlorespressocompersian-blue: rgba(20, 52, 203, 1);
  --wwwlorespressocomred: rgba(235, 0, 27, 1);
  --wwwlorespressocomred-ribbon: rgba(243, 24, 48, 1);
  --wwwlorespressocomresolution-blue: rgba(0, 38, 127, 1);
  --wwwlorespressocomronchi: rgba(235, 188, 85, 1);
  --wwwlorespressocomscience-blue: rgba(1, 111, 208, 1);
  --wwwlorespressocomtree-poppy: rgba(247, 158, 27, 1);
  --wwwlorespressocomwhite: rgba(255, 255, 255, 1);
  --wwwlorespressocomwild-sand: rgba(245, 245, 245, 1);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: transparent;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: transparent;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
